header {
  width: 100%;
}

menu {
  width: 80%;
  display: flex;
  justify-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(68, 29, 29, 0.388);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

menu a {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  color: $primary_normal;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: 0.5s ease-in-out;
  text-shadow: 0px 0px 2px $chocolate;
}

menu a:hover {
  color: $chocolate;
  font-weight: 700;
  text-shadow: 0px 0px 2px $primary_normal;
}

.carrinho {
  position: absolute;
  right: 70px;
}

.cart {
  position: absolute;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: $chocolate;
  text-shadow: 0px 0px 0px transparent;
}

.count {
  position: relative;
  top: -20px;
  left: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;

  img {
    width: 450px;
  }
}

.header-button {
  border: 1px solid $chocolate;
  padding: 8px 24px;
  border-radius: 4px;
  color: $chocolate;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid $chocolate;
  background-color: $chocolate;
  color: $primary_normal;
}

@media screen and (max-width: 800px) {
  menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .largura {
    right: 5px;
  }

  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-logo {
    width: 55%;
    margin-top: 40px;
  }

  .header-logo img {
    width: 380px;
  }

  .header-button {
    display: none;
  }
}
