header{
    width: 100%;
}

menu{    
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #461d1d52;
}

menu a{
    padding: 10px;
    font-weight: 600;
    color: $primary_normal;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: color 0.5s ease-in-out;
}

menu a:hover{   
    color: $chocolate;
}

.span{
    vertical-align: middle;
    color: $primary_normal;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    right: 20px;
    text-align: end;
    width: 73%;
    
}



.span .login{
    visibility: visible;
    position: absolute;
    padding:5px;
    text-align: center;
    border-radius: 5px;
    background-color: $chocolate;
    color:$primary_normal;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 15px;
    font-family: "Sora", sans-serif;
    top:50px;
    right:-25px;
}

.span:hover .login{
    visibility: visible;
    opacity: 1;   
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

i{
    color: $chocolate;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        color: $chocolate;
        animation: translateY 0.8s infinite alternate;
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    
    img{
        
        width: 450px;
    }
}

.header-button{
    border: 1px solid $chocolate;
    padding: 8px 24px;
    border-radius: 4px;
    color: $chocolate;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $chocolate;
    background-color: $chocolate;
    color: $primary_normal;
}

@media screen and (max-width: 768px){

    menu{
        text-align: center;
        width: 100%;
    }

    .span{
        width: 5%;
    }

    .span .login{
      
        right:20px;
    }
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 30px;
            font-size: 34px;
        }
    }
    .header-logo{
        width: 55%;
        margin-top: 40px;
    }

    .header-logo img{
        width: 380px;
    }

    .header-button{
        display: none;
    }
}