.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(255, 174, 174, 0.1), #f4c7c7),
    url("../imagens/doces.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  opacity: 0.9;
}

.hero {
  color: $chocolate;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;

  h1 {
    text-align: center;
    line-height: 150%;
    max-width: 1100px;
    font-size: 46px;
  }
}

.button-contact {
  padding: 14px 28px;
  color: $white;
  background-color: $chocolate;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 20px;
  z-index: 99;

  img {
    max-width: 74px;
    transition: transform 0.4s;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  padding: 5px;
  width: 143px;
  top: -40px;
  left: -50px;
  text-align: center;
  border-radius: 5px;
  background-color: $chocolate;
  color: $primary_normal;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .bg-home::before {
    background-position: 70% 30%;
  }

  h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }

  .footer img {
    width: 380px;
  }

  .btn-whatsapp {
    img {
      max-width: 64px;
    }
  }
  .btn-whatsapp .tooltip-text {
    left: -65px;
  }
  .footer p {
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
  .footer img {
    width: 380px;
  }
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .footer p {
    font-size: 14px;
    text-align: center;
  }
}
