.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;     
    background-color: rgba(68, 29, 29, 0.388);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 11px);
}

.modal-container.mostrar{
    display: flex;
}

.modal{
    
    padding: 6px;
    width: 350px;
    height: 490px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 ;
    transition: .5s;
    background-color: rgba(69, 28, 28, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 10px);
    animation: modal .5s ease-in-out;
    z-index: 2000;
}


@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostar.modal{
    animation: modal .5s ease-in-out;
}

.fechar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid $white;
    background-color: $red;
    color: $white;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 0 rgba(0,0,0,.3);
}

form{
    position: absolute;
    margin-top: 50px;
    transition: .5s;
    width: 300px;
    height: 400px;
    transition: .5s;
    overflow-x: visible;
}

.buttonsForm{
    margin-top: 25px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 $chocolate;
}

.buttonsForm button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
    color: $second_normal;
}

.btnColor{
    position: absolute;
    width: 108px;
    height: 100%;
    border-radius: 15px;
    background-color: $chocolate;
    transition: .5s;
}

p{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: -30px;
    font-weight: 400;
}


input[type="text"],input[type="email"],input[type="password"]{
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    height: 40px;
    
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    background-color: $chocolate;
    color:  $second_normal;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
    transition: .5s;
    overflow-y: hidden;

}

input[type="submit"]:hover{
    transform: scale(1.1);
}

a.botao{
    display: block;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    background-color:  $second_normal;
    border: 1px solid  $second_normal;
    border-radius: 5px;
    color: $chocolate;
    text-decoration: none;
    margin-top:5px;
    padding-top:5px;
    transition: .5s;
}

a.botao:hover{
    transform: scale(1.1);
}

#email{
    overflow-y: hidden;
    overflow-y: hidden;
}
.divCheck{
    margin: 10px 0 0 5px;
    font-size: 20px;
    width: 80%;
}

.termos{
    margin-top: 30px;
    font-size: 16px;
}

.termos a{
    text-decoration: none;
    color: #0000ff;
}

.termos a:visited{
    color: #0000ff;
}

#signin{
    left:25px;
}

#signup{
    left: 450px;
}

#signup div{
    
    margin-bottom: -10px;
}

input[type="submit"].cadastro{
    margin-top: 20px;
}
input[type="checkbox"]:checked{
    accent-color: #461d1d;
}
