@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

menu {
  width: 80%;
  display: flex;
  justify-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(68, 29, 29, 0.388);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

menu a {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #FFAEAE;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: 0.5s ease-in-out;
  text-shadow: 0px 0px 2px #461d1d;
}

menu a:hover {
  color: #461d1d;
  font-weight: 700;
  text-shadow: 0px 0px 2px #FFAEAE;
}

.carrinho {
  position: absolute;
  right: 70px;
}

.cart {
  position: absolute;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #461d1d;
  text-shadow: 0px 0px 0px transparent;
}

.count {
  position: relative;
  top: -20px;
  left: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}
.header-logo img {
  width: 450px;
}

.header-button {
  border: 1px solid #461d1d;
  padding: 8px 24px;
  border-radius: 4px;
  color: #461d1d;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #461d1d;
  background-color: #461d1d;
  color: #FFAEAE;
}

@media screen and (max-width: 800px) {
  menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .largura {
    right: 5px;
  }
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo {
    width: 55%;
    margin-top: 40px;
  }
  .header-logo img {
    width: 380px;
  }
  .header-button {
    display: none;
  }
}
.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 174, 174, 0.1), #f4c7c7), url("../imagens/doces.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  opacity: 0.9;
}

.hero {
  color: #461d1d;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 1100px;
  font-size: 46px;
}

.button-contact {
  padding: 14px 28px;
  color: #fff;
  background-color: #461d1d;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 20px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  padding: 5px;
  width: 143px;
  top: -40px;
  left: -50px;
  text-align: center;
  border-radius: 5px;
  background-color: #461d1d;
  color: #FFAEAE;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .bg-home::before {
    background-position: 70% 30%;
  }
  h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .footer img {
    width: 380px;
  }
  .btn-whatsapp img {
    max-width: 64px;
  }
  .btn-whatsapp .tooltip-text {
    left: -65px;
  }
  .footer p {
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
  .footer img {
    width: 380px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
  .footer p {
    font-size: 14px;
    text-align: center;
  }
}
.about {
  background-color: #f4c7c7;
  overflow: hidden;
  color: #461d1d;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 530px;
  max-height: 700px;
  display: block;
  margin: auto;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 30px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    margin-top: -70px;
  }
}
.services {
  background-color: #fff;
  color: #461d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  max-width: 780px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 14px;
}

.doces {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.doces.base {
  display: none;
}

.doce {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
.doce img {
  transition: transform 0.2s;
  width: 100%;
  max-width: 354px;
}
.doce .comprou {
  color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 15px;
  transition: 0.5s;
  text-transform: uppercase;
  background-color: rgb(109, 180, 3);
  border: none;
}
.doce span.doce-item--qtd {
  display: none;
}

.doce img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.doce .comprou:hover {
  background-color: rgb(77, 122, 9);
  transform: scale(1.02);
}

.doce-info {
  width: 100%;
  height: 100px;
  padding: 14px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  z-index: 99;
}
.doce-info span {
  font-size: 12px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.lista-doce {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 0 44px 34px 44px;
}

@media screen and (max-width: 1000px) {
  .lista-doce {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .doces {
    flex-direction: column;
  }
  .doce-info {
    font-size: 15px;
  }
  .doce-info span {
    font-size: 13px;
  }
  .lista-doce {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .doce {
    margin-bottom: 14px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
}

.footer-icons {
  width: 100%;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons i {
  font-size: 35px;
}

.footer-icons a:hover i {
  color: #461d1d;
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
footer img {
  width: 500px;
}

@media screen and (max-width: 768px) {
  footer img {
    width: 380px;
  }
  footer p {
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
}
/*Modal carrinho*/
.btn-cart {
  position: fixed;
  bottom: 14px;
  right: 20px;
  z-index: 99;
  width: 60px;
  height: 60px;
  background-color: #461d1d;
  border-radius: 50%;
  border: none;
}

.btn-cart i {
  color: #F4C7C7;
  font-size: 23px;
}

.btn-cart .tooltip-text {
  visibility: hidden;
  position: absolute;
  padding: 5px;
  width: 143px;
  top: -40px;
  left: -50px;
  text-align: center;
  border-radius: 5px;
  background-color: #461d1d;
  color: #FFAEAE;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-cart:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.cartQtd {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/*Container Modal*/
.containerModal {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.cartModal {
  background-color: rgb(255, 255, 255);
  padding: 1.25rem;
  border-radius: 0.375rem;
  min-width: 600px;
}
.cartModal h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.cartModal form {
  margin-bottom: 10px;
  position: relative;
  display: none;
}
.cartModal form div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}
.cartModal form button:first-child {
  background-color: red;
  color: #fff;
}

.itemsAdd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.total {
  font-weight: 700;
}

.endereco {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  height: 40px;
  border-width: 2px;
  border: 1px solid black;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.address-warn,
.number-warn,
.name-warn {
  background-color: rgb(239, 68, 68);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: none;
}

.cartPedido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  width: 100%;
}

.close-modal-btn {
  background-color: transparent;
  color: red;
  border-radius: 0.25rem;
  padding: 15px 15px;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.close-modal-btn:hover {
  background-color: red;
  color: #fff;
}

.checkout-btn,
.addres-btn {
  background-color: rgb(22, 163, 74);
  color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  padding: 15px 15px;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
}

.cart-btn {
  display: flex;
  height: 50px;
  border: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 50%;
  background-color: transparent;
  outline: none;
}

.cart-btn i {
  color: white;
}

/*Produtos adicionado ao carrinho*/
.cartContainer {
  display: flex;
  gap: 10px;
  padding: 20px 0px;
  border-bottom: 2px solid gray;
  margin-bottom: 5px;
}

.cartContainer img {
  width: 70px;
  height: 80px;
}

/*Container para ajustar layout das informaçoes*/
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

/*Quantidade*/
.btnQtd {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btnQtd button {
  padding: 10px 18px;
  border-radius: 0.25rem;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
}

.btnQtd button:last-child {
  background-color: rgb(22, 163, 74);
}

@media screen and (max-width: 768px) {
  .cartModal {
    min-width: 90%;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
  background: rgb(255, 174, 174);
  background: linear-gradient(90deg, #ffaeae 0%, #f4c7c7 35%, rgba(255, 174, 174, 0.631372549) 100%);
}

html {
  scroll-behavior: smooth;
}

.rolagem {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

i {
  color: #461d1d;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */