* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";
@import "partials/about";
@import "partials/products";
@import "partials/footer.scss";
@import "partials/carrinho";

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
  background: rgb(255, 174, 174);
  background: linear-gradient(90deg, #ffaeae 0%, #f4c7c7 35%, #ffaeaea1 100%);
}

html {
  scroll-behavior: smooth;
}

.rolagem {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

i {
  color: $chocolate;
  font-size: 15px;
}
